body {
  margin: 0;
  padding: 0;
  font-family: 'Minion Pro', sans-serif;
  font-color: #837E7D;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 430vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one {
  background: url("/assets/imgs/Momentos\ final.jpg");
  background-size: auto 100vh;
  background-repeat: repeat;
  width: 500vw;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}


#texto-1 {
  text-align: justify;
  position: absolute;
  top: 57%;
  left: 3.7%;
  inline-size: 430px;
  font-family:'Minion Pro Regular';
  font-size: 1em;
  font-weight:regular;
  line-height: 90%;
  color: #837E7D;
}
#texto-2 {
  text-align: justify;
  position: absolute;
  top: 14%;
  left: 15%;
  inline-size: 400px;
  font-family:'Minion Pro Regular';
  font-size: 1em;
  font-weight:regular;
  line-height: 90%;
  color: #837E7D;
}
#texto-3 {
  text-align: justify;
  position: absolute;
  top: 29%;  
  left: 26%;
  inline-size: 400px;
  font-family:'Minion Pro Regular';
  font-size: 1em;
  font-weight:regular;
  line-height: 90%;
  color: #837E7D;
}
#texto-4 {
  text-align: justify;
  position: absolute;
  top: 80%;  
  left: 38.3%;
  inline-size: 400px;
  font-family:'Minion Pro Regular';
  font-size: 1em;
  font-weight:regular;
  color: #837E7D;
  line-height: 90%;
}
#texto-5 {
  text-align: justify;
  position: absolute;
  top: 40%;  
  left: 49%;
  inline-size: 400px;
  font-family:'Minion Pro Regular';
  font-size: 1em;
  font-weight:regular;
  color: #837E7D;
  line-height: 90%;
}
#texto-6 {
  text-align: justify;
  position: absolute;
  top: 79%;
  left: 63%;
  inline-size: 400px;
  font-family:'Minion Pro Regular';
  font-size: 1em;
  font-weight:regular;
  color: #837E7D;
  line-height: 90%;}

#texto-7 {
  text-align: justify;
  position: absolute;
  top: 49%;
  left: 75%;
  inline-size: 400px;
  font-family:'Minion Pro Regular';
  font-size: 1em;
  font-weight:regular;
  color: #837E7D;
  line-height: 90%;
}
#texto-8 {
  text-align: justify;
  position: absolute;
  top: 78%;
  left: 93%;
  inline-size: 400px;
  font-family:'Minion Pro Regular';
  font-size: 1em;
  font-weight:regular;
  color: #837E7D;
  line-height: 90%;
} 

.song {
	display: flex;
	align-items: center;
	font-size: 1em;
  font-family:'Minion Pro Regular';
  color: #837E7D;
  padding-left: 1em;
  padding-top: 1em;
}
.pause {
	margin-left: 0.5em;
	cursor:pointer;
}