body {
  margin: 0;
  padding: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.one {
  background: url("/assets/imgs/Ubicación\ texto.jpg");
  background-size: auto 100vh;
  background-repeat: repeat-x;
  width: 500vw;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
}
#texto-1 {
  text-align: left;
  position: absolute;
  top: 54%;
  left: 3.6%;
  inline-size: 400px;
  font-family:'Minion Pro Regular';
  font-size: 1.1em;
  font-weight:bold
}